BasedOnStyle: Mozilla

IndentWidth: 4
ColumnLimit: 120
TabWidth: 4
UseTab: Never
AlignAfterOpenBracket: true
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseArrows: true
  AlignCaseColons: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: BreakBeforeBinaryOperators
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
  MaxEmptyLinesToKeep: 1
  AlignPPAndNotPP: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackLongBracedList: true
BinPackParameters: OnePerLine
BitFieldColonSpacing: Both
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BracedInitializerIndentWidth: 4
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Leave
BreakAfterReturnType: ExceptShortType
BreakArrays: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: false
BreakBeforeCloseBracketLoop: false
BreakBeforeCloseBracketSwitch: false
BreakBeforeInlineASMColon: Always
BreakBeforeTernaryOperators: true
BreakBinaryOperations: RespectPrecedence
BreakFunctionDefinitionParameters: false
BreakStringLiterals: true
ContinuationIndentWidth: 4
Cpp11BracedListStyle: Block
DerivePointerAlignment: false
EnumTrailingComma: Remove
ExperimentalAutoDetectBinPacking: false
IncludeBlocksStyle: Merge
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: false
IndentPPDirectives: BeforeHash
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: None
IntegerLiteralSeparator:
  Binary: -1
  Decimal: 3
  DecimalMinDigitsInsert: 5
  DecimalMaxDigitsRemove: 4
  Hex: 2
  HexMinDigitsInsert: 5
  HexMaxDigitsRemove: 4
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
LineEnding: LF
MaxEmptyLinesToKeep: 1
NumericLiteralCase:
  ExponentLetter: Lower
  HexDigit: Upper
  Prefix: Lower
  Suffix: Lower
OneLineFormatOffRegex: ^(// NOLINT)
PPIndentWidth: 4
PointerAlignment: Left
QualifierAlignment: Left
QualifierOrder: [friend, inline, static, const, constexpr, volatile, type]
ReflowComments: Always
RemoveBracesLLVM: false
RemoveEmptyLinesInUnwrappedLines: true
RemoveParentheses: Leave
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
SkipMacroDefinitionBody: false
SortIncludes:
  Enabled: true
  IgnoreCase: true
  IgnoreExtension: true
SpaceAfterLogicalNot: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: Never
SpaceBeforeSquareBrackets: false
SpaceInEmptyBraces: false
SpaceBeforeTrailingComments: 3
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpacesInParens: Never
SpacesInSquareBrackets: false
Standard: Latest

---
Language: Cpp
AccessModifierOffset: -4
AllowBreakBeforeNoexceptSpecifier: Never
AllowBreakBeforeQtProperty: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortLambdasOnASingleLine: Empty
AllowShortNamespacesOnASingleLine: false
BreakBeforeConceptDeclarations: Always
BreakBeforeTemplateCloser: false
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakTemplateDeclarations: Yes
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IndentAccessModifiers: false
IndentExportBlock: true
IndentRequiresClause: true
LambdaBodyIndentation: Signature
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
ReferenceAlignment: Left
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope
ShortNamespaceLines: 0
SortUsingDeclarations: Lexicographic
SpaceAfterOperatorKeyword: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: Never
WrapNamespaceBodyWithEmptyLines: Never

---
Language: C
IndentGotoLabels: false
SpaceAfterCStyleCast: true
